                        * {
                            box-sizing: border-box;
                        }
                        
                        ul {
                            float: right;
                            list-style type: none;
                            margin-top: 25px
                        }
                        
                        ul li {
                            display: inline-block;
                        }
                        
                        ul li a {
                            text-decoration: none;
                            color: rgb(36, 4, 219);
                            padding: 5px 20px;
                            border: 1px solid #transparent;
                            transition: 0.6 ease;
                        }
                        
                        ul li a:hover {
                            background-color: #52E44f;
                            color: #000;
                        }
                        
                        ul li.active a {
                            background-color: #52E44f;
                            color: #000;
                        }
                        
                        body {
                            font-family: Arial, Helvetica, sans-serif;
                            background-color: #8fd67a;
                        }
                        
                        .colummn {
                            width: 25%;
                            float: left;
                            padding: 100px 10px;
                        }
                        
                        .row:after {
                            content: "";
                            display: table;
                            clear: both;
                        }
                        
                        @media screen and (max-width:600px) {
                            .colummn {
                                width: 100%;
                                display: block;
                                margin-bottom: 20px;
                            }
                        }
                        
                        .card {
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                            max-width: 300px;
                            margin: auto;
                            background-color: rgb(198, 228, 27);
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            text-align: center;
                            border-radius: 40px;
                            padding-bottom: 15px;
                        }
                        
                        .card img {
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        
                        .title {
                            color: gray;
                            font-size: 18px;
                        }
                        
                        button {
                            border: none;
                            padding: 8px;
                            display: inline-block;
                            color: white;
                            background-color: black;
                            cursor: pointer;
                            width: 70%;
                            border-radius: 20px;
                            font-size: 18px;
                            text-align: center;
                        }
                        
                        .header {
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            padding: 60px;
                            text-align: center;
                            background: #1abc9c;
                            color: rgb(247, 247, 247);
                            font-size: 30px;
                        }
                        
                        img:hover {
                            opacity: 0.8;
                        }